venv
.pytest_cache
__pycache__/
/static
/media
/*.env
db/backups/*.sql
nginx/_data/*
.envs/.prod/*
.tmp/messages/*
.idea/*

.DS_Store

nginx/_data/*
nginx/certbot/*
nginx/prod/h5bp/tls/certificate_files.conf
nginx/prod/conf.d/domain.conf
nginx/prod/conf.d/no-ssl.domain.conf

