venv
.pytest_cache
gpminerals/.env
api/__pychache__
/static
kubernetes/postgres/secrets.yaml
kubernetes/aws/secrets.yaml
/.env
/.env.dev
/.env.staging.proxy-companion
/.env.prod.proxy-companion
/frontend/node_modules
/frontend/.nuxt
acme.json