{% load web_filters %}
{% load static %}
        <div class="card border border-secondary" id="stats">
          <div class="card-header">
            <div class='float-right'>
              <img src="{% static 'svgs/gear.svg' %}" width='30px' alt="gear" id="gear">
            </div>
            <h6 class="card-title">Overall statistics</h6>
            <small class="text-muted">by mineral statuses</small>
          </div>
          <div class="card-body">
                <div>
                    <ul>
                        {% for count in counts %}
                            <li>{{ count|dict_filter:'description_short' }}s - <span class="badge badge-pill badge-info border border-dark">{{ count|dict_filter:'mineral_counts' }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="/mineral_stats" class="btn btn-primary btn-block">Explore stats</a> 
            </div>
          </div>