user nginx;
worker_processes auto;
pid /var/run/nginx.pid;

events {
	worker_connections 20000;
}

http {

	proxy_cache_path /var/cache/nginx levels=1:2 inactive=60m keys_zone=microcache:20m max_size=1000m use_temp_path=off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	gzip on;

	resolver 127.0.0.11 valid=30s;

	server {
		listen 80;
		server_name api.dev.${DOMAIN};

		keepalive_timeout 5;
		client_max_body_size 20m;

		location = /favicon.ico {
			alias /var/www/static/img/favicon/favicon.ico;
		}

		location /media  {
			alias /var/www/media;
		}

		location /static {
			alias /var/www/static;
		}

    location / {
      proxy_redirect off;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Host $server_name;
      proxy_set_header X-Url-Scheme $scheme;

      add_header Cache-Control 'no-store';
      add_header X-Proxy-Cache $upstream_cache_status;

      set $backend_upstream backend:8000;
      proxy_pass http://$backend_upstream;

      location /mineral {
        proxy_cache microcache;
        proxy_cache_background_update on;
        proxy_cache_lock on;
        proxy_cache_key $scheme$host$request_method$request_uri;
        proxy_cache_valid 200 2m;
        proxy_cache_use_stale updating;
        proxy_cache_min_uses 1;

        set $backend_upstream backend:8000;
        proxy_pass http://$backend_upstream;
      }
    }
	}
}
