<!DOCTYPE html>
<html>
	<head>
		<title>mineralogy.rocks/mindat.org - synchronization report</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body style="background: #F7F7F7; font-weight: 200; line-height:1.3; font-family: sans-serif; font-size: 12px; color: #000000; padding: 20px;">
		<div style="padding: 25px; background: #ffffff; max-width: 700px; margin: 0 auto;">
			<p style="font-size: 15px; font-weight: 200; margin-top: 20px; margin-bottom: 10px; font-family: sans-serif;">
				Dear admin,
			</p>
			<p style="font-size: 15px; font-weight: 200; margin-top: 20px; margin-bottom: 10px; font-family: sans-serif;">
        mineralogy.rocks sync service updated the database with {{ minerals|length }} entries. See sync log details
        <a href="{{ base_url }}{{ link }}" target="_blank" style="color: #1874CD; font-weight: 200; text-decoration: underline; font-family: sans-serif;">
					here
				</a>.

			<p style="font-size: 15px; font-weight: 200; margin-top: 20px; margin-bottom: 5px; font-family: sans-serif;">
				Have a nice day ahead,
			</p>
			<p style="font-size: 15px; font-weight: 200; margin-top: 0px; margin-bottom: 10px; font-family: sans-serif;">
				mineralogy.rocks bot 🤖
			</p>
    </div>
	</body>
</html>
