
{% extends "web/base.html" %}
{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>
<h1 class="cover-heading text-center">About us</h1>
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-10 col-sm-12">
          <div>
              <p>
                The project is intended to deliver the up-to-date information about minerals, as well as
                to perform complex filtering and process complex queries. Currently, we are working on 
                creating a powerful API to meet these requests. 
              </p>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
